<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="scaleable-wrapper" id="scaleable-wrapper">
        <div class="page-contents" id="page-contents">
            <header>
                <%- include('../partials/header'); %>
            </header>
            <main class="container">
                <div class="ovalparent">
                    <div id="table">
                        <div class="group-actions u-full-width">
                            <div id="pot">
                                <div id="pot-amount">
                                    <% if (pot) { %>
                                        <%= pot %>
                                    <% } %>
                                </div>
                            </div>
                            <div id="board">
                                <div id="deep-stack-poker">
                                    DEEP STACK POKER
                                </div>
                                <div id="cards">
                                    <% let show = true %>
                                    <% if (roundName == 'deal') { %>
                                    <div id="flop" class="hidden">
                                    <% } else { %>
                                    <div id="flop">
                                    <% } %>
                                        <%- include('../partials/card'); %>
                                        <%- include('../partials/card'); %>
                                        <%- include('../partials/card'); %>
                                    </div>
                                    <% if (roundName == 'deal' || roundName == 'flop') { %>
                                    <div id="turn" class="hidden">
                                    <% } else { %>
                                    <div id="turn">
                                    <% } %>
                                        <%- include('../partials/card'); %>
                                    </div>
                                    <% if (roundName == 'river' || roundName == 'showdown') { %>
                                    <div id="river">
                                    <% } else { %>
                                    <div id="river" class="hidden">
                                    <% } %>
                                        <%- include('../partials/card'); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <div class="below-table u-full-width">
                <%- include('../partials/buyinLog'); %>
                <%- include('../partials/gameLog'); %>
                <%- include('../partials/chatroom'); %>
                <%- include('../partials/actions'); %>
            </div>
            <% for (let i = 0; i < 10; i++) { %>
            <div class="hand <%= i %>">
                <div class="left-card">
                    <%- include('../partials/card'); %>
                </div>
                <div class="right-card">
                    <%- include('../partials/card'); %>
                </div>
                <% if (i == actionSeat) { %>
                <div class="name action">
                <% } else { %>
                <div class="name">
                <% } %>
                    <% if (i == dealer) { %>
                    <span class="dealer">D</span>
                    <% } %>
                    <span class="username">guest</span>: <span class="stack">stack</span><span class="earnings hidden"></span>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <script src="../public/main.js"></script>
</body>

</html>