<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="scaleable-wrapper" id="scaleable-wrapper">
        <div class="page-contents" id="page-contents">
            <header>
                <%- include('../partials/header'); %>
            </header>
            <div id="straddle-abilities">
                <label class="single-straddle cbox collapse">
                    <span class="label-body">UTG Straddle</span>
                    <input type="checkbox" name="singleStraddleBox">
                </label>
                <label class="multi-straddle cbox collapse">
                    <span class="label-body">Multi-Straddle</span>
                    <input type="checkbox" name="multiStraddleBox">
                </label>
            </div>
            <main class="container">
                <div id="table-img">
                    <div id="ovalparent">
                    </div>
                </div>
            </main>
            <div class="below-table u-full-width">
                <%- include('../partials/buyinLog'); %>
                <%- include('../partials/gameLog'); %>
                <%- include('../partials/chatroom'); %>
                <%- include('../partials/actions'); %>
            </div>
        </div>
    </div>
<!--    <script type="module" src="../poker-logic/lib/table-state.js"></script>-->
<!--    <script type="module" src="../server/server-logic.js"></script>-->
<!--    <script type="module" src="../public/main.js"></script>-->
<!--    <script src="../public/bundle.js"></script>-->
        <script src="../client/dist/game.bundle.js"></script>
</body>

</html>