<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header', { joinedGame: false, bigBlind, smallBlind}); %>
    </header>

    <main class="container">
        <div class="ovalparent">
            <div class="table">
                <div class="top-two">
                    <div class="centering">
                        <div class="hand">
                            <%- include('../partials/card', { rank: 'Q', suit: '♥︎', color: 'red', action: true}); %>
                            <%- include('../partials/card', { rank:'Q', suit: '♦︎', color: 'red', action: true}); %>
                            <div class="name" id="me">
                                <span class="username"><%= name %></span>:<span class="stack"><%= stack %></span>
                            </div>
                        </div>
                        <div class="hand">
                            <%- include('../partials/card', { showCards: true, rank: 'Q', suit: '♥︎', color: 'red', action: false}); %>
                            <%- include('../partials/card', { showCards: true, rank:'Q', suit: '♦︎', color: 'red', action: false}); %>
                            <div class="name">
                                <%= name='tom' %>: <%= stack %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-2-through-4">

                    <div class="top-middle-two">
                        <div class="centering">
                            <div class="hand">
                                <%- include('../partials/card', { showCards: false, rank: 'Q', suit: '♥︎', color: 'red', action: false}); %>
                                <%- include('../partials/card', { showCards: false, rank:'Q', suit: '♦︎', color: 'red', action: false}); %>
                                <div class="name">
                                    <%= name='tom' %>: <%= stack %>
                                </div>
                            </div>
                            <div class="space"></div>
                            <div class="hand">
                                <%- include('../partials/card', { showCards, rank: 'Q', suit: '♥︎', color: 'red', action: false}); %>
                                <%- include('../partials/card', { showCards, rank:'Q', suit: '♦︎', color: 'red', action: false}); %>
                                <div class="name">
                                    <%= name='tom' %>: <%= stack %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="middle-two">
                        <div class="centering">
                            <div class="hand">
                                <%- include('../partials/card', { showCards, rank: 'Q', suit: '♥︎', color: 'red', action: false}); %>
                                <%- include('../partials/card', { showCards, rank:'Q', suit: '♦︎', color: 'red', action: false}); %>
                                <div class="name">
                                    <%= name='tom' %>: <%= stack %>
                                </div>
                            </div>
                            <div class="space1"></div>
                            <div class="hand">
                                <%- include('../partials/card', { showCards, rank: 'Q', suit: '♥︎', color: 'red', action: false}); %>
                                <%- include('../partials/card', { showCards, rank:'Q', suit: '♦︎', color: 'red', action: false}); %>
                                <div class="name">
                                    <%= name='tom' %>: <%= stack %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-middle-two">
                        <div class="centering">
                            <div class="hand">
                                <%- include('../partials/card', { showCards, rank: 'Q', suit: '♥︎', color: 'red', action: false}); %>
                                <%- include('../partials/card', { showCards, rank:'Q', suit: '♦︎', color: 'red', action: false}); %>
                                <div class="name">
                                    <%= name='tom' %>: <%= stack %>
                                </div>
                            </div>
                            <div class="space"></div>
                            <div class="hand">
                                <%- include('../partials/card', { showCards, rank: 'Q', suit: '♥︎', color: 'red', action: false}); %>
                                <%- include('../partials/card', { showCards, rank:'Q', suit: '♦︎', color: 'red', action: false}); %>
                                <div class="name">
                                    <%= name='tom' %>: <%= stack %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-two">
                    <div class="centering">
                        <div class="hand">
                            <%- include('../partials/card', { showCards, rank: 'Q', suit: '♥︎', color: 'red', action: false}); %>
                            <%- include('../partials/card', { showCards, rank:'Q', suit: '♦︎', color: 'red', action: false}); %>
                            <div class="name">
                                <%= name='tom' %>: <%= stack %>
                            </div>
                        </div>
                        <div class="hand">
                            <%- include('../partials/card', { showCards, rank: 'Q', suit: '♥︎', color: 'red', action: false}); %>
                            <%- include('../partials/card', { showCards, rank:'Q', suit: '♦︎', color: 'red', action: false}); %>
                            <div class="name">
                                <%= name='tom' %>: <%= stack %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> 
    <div class="below-table">
        <%- include('../partials/chatroom'); %>
        <%- include('../partials/actions'); %>
    </div>
    <script src="../public2/main.js"></script>
</body>
</html>